{% extends 'base.html' %}
{% block content %}

<div class="wrapper">
  <div class="hero text-center">
    <h1 class="jumbotron">Business in San Francisco</h1>
    <p>Welcome to Customize the Table</p>
  </div>
  <!-- Create a filter table -->
  <div class="container">
    <div class="row margin-top-50">
      <div class="col-md-2">
        <aside class="filters">
          <div class="panel panel-default">
            <div class="panel-heading">Filter Search</div>
            <div class="panel-body">
              <form>
                <div class="form-group">
                  <ul class="list-group" id="filters">
                    <li class="filter list-group-item">
                      <label for="business">Enter a Category</label>
                      <input class="formcontrol" id="categoryname" type="text" placeholder="Food Services">

                      <!-- <label for="date">Enter a Start Date</label>
                        <input class="form-control" id="datetime" type="text" placeholder="1/11/2011">
                        <label for="date">Enter a End Date</label>
                        <input class="form-control" id="datetime" type="text" placeholder="1/11/2011">
                        <label for="city">Enter a Zipcode</label>
                        <input class="form-control" id="cityname" type="text" placeholder="">
                        <label for="state">Enter a Neighborhood</label>
                        <input class="form-control" id="statename" type="text" placeholder="">
                        <label for="country">Enter a Category</label>
                        <input class="form-control" id="countryname" type="text" placeholder=""> -->
                    </li>
                  </ul>
                </div>
                <button id="filter-btn" type="button" class="btn btn-default">Filter Table</button>
              </form>
            </div>
          </div>
        </aside>
      </div>
      <div class="col-md-10">
        <div id="table-area" class="">
          <table id="ufo-table" class="table table-striped">
            <thead>
              <tr>
                <th class="table-head">Business Name</th>
                <th class="table-head">Business Category</th>
                <th class="table-head">Location Start Date</th>
                <th class="table-head">Neighborhood</th>
                <th class="table-head">Zipcode</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <span class="bottom">Business in San Francisco</span>
  </footer>
</div>
<script src="https://d3js.org/d3.v5.min.js"></script>
<!-- <script src="static/js/data.js"></script> -->
<script src="../static/js/app.js"></script>

{% endblock %}